<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2">
        <% if((forwardBand)){ %>
        <a href = "/admin/live/<%= band.live._id %>/<%= forwardBand._id %>" class="btn btn-info" id = "forward">前のバンドへ</a>
        <% } %>
    </div>
    <div class="col-8"><h1 class="text-center"><%= band.live.name %> PA表 出演順:<%= band.order %></h1></div>
    <div class="col-2">
        <% if((nextBand)){ %>
        <a href = "/admin/live/<%= band.live._id %>/<%= nextBand._id %>" class="btn btn-info" id = "next">次のバンドへ</a>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <%-include("../partials/showBand/paTable", {band})%>
    </div>
</div>
<script src = "/javascript/admin/bandShow.js"></script>