<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/live.css" />

<div class="row">
    <div class="mb-2 col-sm-12 col-md-8 offset-md-2">
        <h1 id="liveName"><%= live.name %>出演バンド一覧</h1>
        <button class="my-2 btn btn-success" id = "bandNameCopyButton">バンド名をコピー</button>
        <div class="card p-1">
            <table class="table table-striped table-hover">
                <thead>
                    <th scope="col" id="order"></th>
                    <th scope="col">バンド名</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                </thead>
                <tbody id = "bandTableBody">
                    <% live.bands.forEach((band, index) => { %>
                        <% live.breaks.forEach(oneBreak => { %>
                            <% if(oneBreak.order === index){ %>
                                <tr class="table-info">
                                    <td></td>
                                    <td><%= oneBreak.name %></td>
                                    <td><%= oneBreak.time + "分" %></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            <% } %>
                        <% }); %>
                        <tr class = "bandInfo">
                            <td><%= band.order %></td>
                            <td class = "bandName"><%= band.name %></td>
                            <td><%= band.songs[0].member[0] %></td>
                            <td><%= band.songs[0].member[1] %></td>
                            <td><%= band.songs[0].member[2] %></td>
                            <td><%= band.songs[0].member[3] %></td>
                            <td><%= band.songs[0].member[4] %></td>
                            <td><%= band.songs[0].member[5] %></td>
                        </tr>
                    <%}); %>
                    <% live.breaks.forEach(oneBreak => { %>
                        <% if(oneBreak.order >= live.bands.length){ %>
                            <tr class="table-info">
                                <td></td>
                                <td><%= oneBreak.name %></td>
                                <td><%= oneBreak.time + "分" %></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/javascript/admin/shift.js"></script>
