<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/live.css" />

<div class="row">
    <div class="mb-2 col-sm-12 col-md-8 offset-md-2">
        <h1 id="liveName"><%= live.name %>出演バンド一覧</h1>
        <div class="card">
            <table class="table table-striped table-hover">
                <thead>
                    <th scope="col" id="order">順</th>
                    <th scope="col">バンド名</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                </thead>
                <% live.bands.forEach(band => { %>
                    <tbody>
                        <td><%= band.order %></td>
                        <td><%= band.name %></td>
                        <% console.log(band) %>
                        <td><%= band.songs[0].member[0] %></td>
                        <td><%= band.songs[0].member[1] %></td>
                        <td><%= band.songs[0].member[2] %></td>
                        <td><%= band.songs[0].member[3] %></td>
                        <td><%= band.songs[0].member[4] %></td>
                        <td><%= band.songs[0].member[5] %></td>
                    </tbody>
                <%}) %>
            </table>
        </div>
    </div>
</div>

<script src="/javascript/admin/liveShow.js"></script>
