<p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        以前書いたPA表からPA表を補完
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body scroll">
        <% if(user.bands.length === 0){ %>
            まだ作成されたPA表がありません
        <% }else{ %>
        <table class="table table-striped table-hover my-2">
            <tbody>
                <th scope="col" class = "tableHead">操作</th>
                <th scope="col" class = "tableHead">曲名</th>
                <th scope="col" class = "tableHead">ライブ</th>
                <th scope="col" class = "tableHead">バンド</th>
                <% user.bands.forEach((band, j) => {%>
                    <% band.songs.forEach((song, k) => {%>
                    <tr>
                        <td class="text-nowrap"><button class="btn btn-success btn-sm" type="button" id = <%=`addButton${i}-${j + 1}-${k + 1}`%>>補完</button></td>
                        <td class="text-nowrap"><%= song.song %></td>
                        <td class="text-nowrap"><%= band.live.name %></td>
                        <td class="text-nowrap"><%= band.name %></td>
                    </tr>
                    <% }) %>
                <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>
<div>
    <label for=<%="song"+i%> class = "col-form-label" >曲名</label>
    <input type="text" name = "band[song]" id = <%="song"+i%> class = "form-control">
</div>
<div>
    <label for = <%="isMc"+i%> class = "col-form-label">曲前MCの有無</label>
    <input type="text" name = "band[isMc]" id = <%="isMc"+i%> class = "form-control">
</div>
<div>
    <label for=<%="band[micNumber" + i + "-1" +"]"%> class = "col-form-label">マイクの番号</label>
    <div class="input-group">
        <span class="input-group-text">マイク番号</span>
        <span class="input-group-text">パート</span>
        <span class="input-group-text">名前</span>
    </div>
    <% for(let j = 6; j >= 1;j--){ %>
        <div class="input-group">
            <input type="text"  name = <%="band[micNumber][" + i + "]"%> class="form-control" id = <%="micNumber"+i+"-"+j%>>
            <input type="text" name = <%="band[part][" + i + "]"%> class="form-control" id = <%="part"+i+"-"+j%>>
            <input type="text" name = <%="band[member][" + i + "]"%> class="form-control" id = <%="member"+i+"-"+j%>>
        </div>
    <%  }%>
</div>
<div class="form-groupe mb-3">
    
    <label for = <%="band[nuance]"%> class = "col-form-label">曲のニュアンス</label>
    <select name = "band[tempo]" id = <%="tempo" + i%> class="form-control mb-2 ">
        <option value="" selected disabled>選択してください</option>
        <option value="1" class = <%= "tempo" + i%> id = "up">アップテンポ</option>
        <option value="2" class = <%= "tempo" + i%> id = "mid">ミディアムテンポ</option>
        <option value="3" class = <%= "tempo" + i%> id="slow">スローテンポ</option>
    </select>
    <div class="alert alert-info mb-1">その他出したい雰囲気やイメージがあればご記入ください</div>
    <textarea name = "band[nuance]" id = <%="nuance" + i%> class = "form-control"></textarea>
</div>
<div>
    <label for = <%="band[requests" + i + "]"%> class = "col-form-label">リクエスト</label>
    <div class="alert alert-info mb-1">マイク音量や、エフェクト、その他の要望についてご記入ください
    </div>
    <textarea name = "band[requests]" id = <%="requests" + i%> class = "form-control" rows="5"></textarea>
</div>
</div>