<% layout("layouts/boilerplate") %>
<h1><%= user.circleName %> のマイページ</h1>
<table class="table table-striped table-hover">
    <thead>
        <h2>あなたが提出したPA表一覧</h2>
    </thead>
<% for(band of user.bands){ %>
    <tr>
        <td>
            <a href="<%= `/lives/${band.live._id}/${band._id}/` %>"><%= band.name %></a>
        </td>
        <td>
            <a href="/lives/<%= band.live._id %>/"><%= band.live.name %></a>
        </td>
        <td>
            <a href="/lives/<%= band.live.id %>/<%= band._id %>/edit/" class = "btn btn-sm btn-success">PA表を編集する</a>
            <form action="/lives/<%= band.live._id %>/<%= band._id %>?_method=DELETE" method = "POST">
                <button class = "btn btn-sm btn-danger">PA表を削除する</button>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<script src="/stylesheets/mypage/showLive.js"></script>