<div>
    <label for=<%="song"+i%> class = "col-form-label">曲名</label>
    <input type="text" name = "band[song]" id = <%="song"+i%> class = "form-control">
</div>
<div>
    <label for = <%="band[isMc"+i + "]"%> class = "col-form-label">曲前MCの有無</label>
    <input type="text" name = "band[isMc]" id = <%="band[isMc"+i + "]"%> class = "form-control">
</div>
<div>
    <label for=<%="band[micNumber" + i + "-1" +"]"%> class = "col-form-label">マイクの番号</label>
    <div class="input-group">
        <span class="input-group-text">マイク番号</span>
        <span class="input-group-text">パート</span>
        <span class="input-group-text">名前</span>
    </div>
    <% for(let j = 6; j >= 1;j--){ %>
        <div class="input-group">
            <input type="text"  name = <%="band[micNumber][" + i + "]"%> class="form-control" id = <%="micNumber"+i+"-"+j%>>
            <input type="text" name = <%="band[part][" + i + "]"%> class="form-control" id = <%="part"+i+"-"+j%>>
            <input type="text" name = <%="band[member][" + i + "]"%> class="form-control">
        </div>
    <%  }%>
</div>
<div>
    <label for = <%="band[mainSpeaker" + i + "]"%> class = "col-form-label">メインスピーカの要望</label>
    <textarea name = "band[mainSpeaker]" id = <%="band[mainSpeaker" + i + "]"%> class = "form-control"></textarea>
</div>
<div>
    <label for = <%="band[returnSpeaker" + i + "]"%> class = "col-form-label">返しスピーカの要望</label>
    <textarea name = "band[returnSpeaker]" id = <%="band[returnSpeaker" + i + "]"%> class = "form-control"></textarea>
</div>
<div>
    <label for = <%="band[nuance" + i + "]"%> class = "col-form-label">曲のニュアンス</label>
    <textarea name = "band[nuance]" id = <%="band[nuance" + i + "]"%> class = "form-control"></textarea>
</div>
<div>
    <label for = <%="band[otherRequests" + i + "]"%> class = "col-form-label">その他の要望</label>
    <textarea name = "band[otherRequests]" id = <%="band[otherRequests" + i + "]"%> class = "form-control"></textarea>
</div>