<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/newLive.css">
<div class="row col-12 col-md-6 offset-md-3">
    <h1>ライブ編集フォーム</h1>
    <h3 id = "msg"></h3>
    <form action="/lives/<%=live._id%>?_method=PUT" method="POST" class = "validation" novalidate>
        <div>
            <label for="name" class="col-form-label me-3">ライブ名</label>
            <input type="text" id="name" name="live[name]" class="form-control" value = <%=live.name%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="date" class="col-form-label" multiple>開催日</label>
            <% const dateString = `${live.date.getFullYear()}-${('0' + (live.date.getMonth() + 1)).slice(-2)}-${('0' + live.date.getDate()).slice(-2)}` %>
            <input type="date" id = "date" name="live[date]" class = "form-control" value = <%=dateString%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="place" class="col-form-label" multiple>開催場所</label>
            <input type="text" id = "location" name="live[location]" class = "form-control"value = <%=live.location%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="time" class="col-form-label" multiple>開始時間</label>
            <input type="time" id = "time" name="live[time]" class = "form-control" value=<%=live.time%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="playlistUrl" class="col-form-label">SE用：SpotifyプレイリストURL</label>
            <input type="text" id = "playlistUrl" name="live[playlistUrl]" class = "form-control" placeholder = "例：https://open.spotify.com/playlist/ID" value = <%=live.playlistUrl%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <label for="" class="col-form-label">ライブのステータス</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="live[statues]" id="liveStatues1" value=1>
            <label class=form-check-label for=liveStatues1>
              <b>収拾段階</b>(新規PA表の作成、編集ができます)
            </label>
          </div>
          <div class=form-check>
            <input class="form-check-input" type="radio" name="live[statues]" id="liveStatues2" value=2>
            <label class="form-check-label" for="liveStatues2">
              <b>ライブ準備完了</b>(新規PA表の作成、編集にはadminへの承認が必要になります)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="live[statues]" id="liveStatues3" value=3>
            <label class="form-check-label" for="liveStatues3">
              <b>ライブ中</b>(adminアカウントで見ているPA表のバンドが、ライブ一覧でハイライトされます)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="live[statues]" id="liveStatues4" value=4>
            <label class="form-check-label" for="liveStatues4">
              <b>ライブ終了</b>(アーカイブされ、新たなPA表の作成はできなくなります)
            </label>
          </div>

        <button class="btn btn-success my-3" id = "submitButton">ライブを編集</button>
    </form>
</div>
<script src="/javascript/validateForms.js"></script>
<script>
    const statues = "<%=live.statues%>";
</script>
<script src="/javascript/liveEdit.js"></script>
