<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/editPaTable.css">
<div class="row col-12 col-lg-6 offset-lg-3">
    <h1><%=band.live.name%><br>
        PA表編集フォーム</h1>
    <h5 id = "msg"></h3>
    <% url = `/lives/${band.live._id}/${band._id}` %>
    <form action="<%= url %>?_method=PUT" method="POST" class = "validation" novalidate>
        <div>
            <label for="name" class="col-form-label me-3">バンド名</label>
            <input type="text" id="name" name="band[name]" class="form-control" value=<%=band.name%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="leader" class="col-form-label">バンドリーダー</label>
            <input type="leader" id = "leader" name="band[leader]" class = "form-control mb-3" value=<%=band.leader%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <p class = "alert alert-info mb-1">SE曲名,SpotifyURLは下記検索から追加してください．もし，Spotifyで曲を見つけられなかったときは手動で曲名を入力してください．</p>
        </div>
        <div>
            <label for=<%="searchSong"%> class = "col-form-label">SEを曲名で検索（Spotify）</label>
            <div class="input-group mb-3">
                <span class="input-group-text searchSongIcon"><i class="bi bi-search"></i></span>
                <input type="search" class="form-control searchSong" placeholder="SE曲名を入力" id = "searchSong"aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div id = "searchResult">
            </div>
        </div>
        <div>
            <label for="se" class="col-form-label">SE(登場曲)</label>
            <input type="text" id = "se" name="band[se]" class = "form-control" value=<%=band.se%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="se" class = "col-form-label">Spotify URL</label>
            <input type="text" name = "band[seUrl]" id = "seUrl" class = "form-control" value=<%=band.seUrl%>>
        </div>
        <div>
            <label for="seArtist" class="col-form-label">SEアーティスト</label>
            <input type="text" id = "seArtist" name="band[seArtist]" class = "form-control" value=<%=band.seArtist%> required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="time" class="col-form-label">出演時間</label>
            <input type="number" id = "time" name="band[time]" class = "form-control" value=<%=band.time%> step = 5 min = 0 required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="songNumber" class="col-form-label">演奏曲数</label>
            <select name="band[songNumber]" id="songNumber" class = "form-select">
                <option value="1" id = "songNum1">1</option>
                <option value="2" id = "songNum2">2</option>
                <option value="3" id = "songNum3">3</option>
                <option value="4" id = "songNum4">4</option>
                <option value="5" id = "songNum5">5</option>
                <option value="6" id = "songNum6">6</option>
                <option value="7" id = "songNum7">7</option>
                <option value="8" id = "songNum8">8</option>
                <option value="9" id = "songNum9">9</option>
                <option value="10" id = "songNum10">10</option>
            </select>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div>
            <label for="songs" class = "col-form-label">セットリスト</label>
            <%- include("../partials/editBandForm/songs")%>
        </div>
        <button type="button" class="btn btn-success my-3" id="submitButton">PA表の編集を保存</button>
    </form>
</div>
<script src="/javascript/validateForms.js"></script>
<script>
    spotifyAccessToken = "<%=spotifyAccessToken%>"; 
    const band = <%-JSON.stringify(band)%>;
    const bands = <%-JSON.stringify(user.bands)%>;
</script>
<script src = "/javascript/spotify-web-api-js/spotify-web-api.js"></script>
<script src = "/javascript/editBand.js"></script>
